body,
html {
    background-color: black;
}

#choose {
    position: absolute;
    top: 0;
    left: 0px;
    outline: solid;
    outline-color: grey;
    background-color: black;
    width: 20.833vw;
    height: 100%;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

#choose img {
    width: 90%;
    height: 202.0.260vh;
    cursor: pointer;
}

.loading-iframe {
    background: url(images/loading.gif) center center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 79.010vw;
    height: 100%;
}

iframe {
    position: absolute;
    right: 0;
    top: 0;
    width: 79.010vw;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

 ::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 0px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #686868;
}

 ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0px;
}